# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Entorno virtual
venv/
env/
.env

# Base de datos
instance/
*.db

# Archivos sensibles
backups/
logs/
static/uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
